{% extends "base_generic.html" %}

{% block content %}

{% if form.errors %}
<p>아이디와 비밀번호가 일치하지 않네요. 다시 시도해 주세요.</p>
{% endif %}

{% if next %}
	{% if user.is_authenticated %}
		<p>당신은 이 페이지에 접근 할 권한이 없네용.
			접근 가능한 아이디로 다시 오던지 말던지.
		</p>
	{% else %}
		<p>이 페이지를 보기 위해서 로그인 해 주세요.</p>
	{% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">{% csrf_token %}

<div>
	<td>{{ form.username.label_tag }}</td>
	<td>{{ form.username }}</td>
</div>
<div>
	<td>{{ form.password.label_tag }}</td>
	<td>{{ form.password }}</td>
</div>

<div>
	<input type="submit" value="login" />
	<input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

<p><a href="{% url 'password_reset' %}">비밀번호가 생각 안나세요?</a></p>
{% endblock %}